/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../img/cinema.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
}

h1 {
  text-align: left;
  color: rgb(247, 7, 7);
}

#movie-poster {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#movie-details {
  text-align: center;
  margin-bottom: 20px;
}

#movie-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #330101;
}

#movie-runtime,
#movie-showtime,
#movie-tickets {
  margin-bottom: 5px;
  color: #353434;
}

#buy-ticket {
  background-color: #eb0f1a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#buy-ticket:hover {
  background-color: #c40d15;
}


#films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.film-item {
  flex: 0 0 calc(20% - 10px);
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #080808;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.film-item:hover {
  background-color: rgb(247, 7, 19);
  transform: scale(1.01); 
}

.sold-out {
  background: rgb(15, 15, 15) !important;
  color: #ddd;
  cursor: not-allowed;
}


